body {
    font-family:'Segoe UI', Tahoma, sans-serif;
    background-color: #f7d2aa
}
p {
    color: navy;
}
h1,h2,h3,h4,h5,h6{
    font-family: Helvetica, arial, sans-serif ;
}

figcaption {
    color:#032f0d;
    font-weight: bold;
    background-color: #AAEEFF;
    display:inline;
}
.sale {
    font-weight: bold;
    background-color: #AAEEFF;
    font-style: italic;
    font-size: 16pt;
}
#sidenote {
    background-color: #DDDDDD;
    display:inline;
    font-weight:bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Palatino Linotype','Times New Roman', serif;
}