body {
    font-family:'Segoe UI', Tahoma, sans-serif;
    background-color: #f7d2aa
}
p {
    color: navy;
}


figcaption {
    color: navy;
    font-weight: bold;
    background-color: #AAEEFF;
    display:inline;
}
.sale {
    font-weight: bold;
    background-color: #AAEEFF;
}
#sidenote {
    background-color: #DDDDDD;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Palatino Linotype','Times New Roman', serif;
}